{#{{ dump(stats) }}#}

<table class="table table-striped table-hover">
    <tr>
        <th></th>
        {% for date, stat in stats %}
            <th>{{ stat.date }} {{ stat.hour }}h</th>
        {% endfor %}
    </tr>
    <tr>
        <td>number of PRs</td>
        {% for date, stat in stats %}
        <td>{{ stat.countPullRequests }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>maximum days old</td>
        {% for date, stat in stats %}
            <td>{{ stat.agePullRequests }}</td>
        {% endfor %}
    </tr>
    <tr>
        <td>weight</td>
        {% for date, stat in stats %}
            <td>{{ stat.sum }}</td>
        {% endfor %}
    </tr>
</table>